<div id="mapCanvas"></div>

<script>
function initMap() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
   // Mostrar un mapa
    map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
    map.setTilt(50);
        
    // Múltiples marcadores de ubicación, latitud y longitud
    var markers = [
        ['Taller De Bicicletas J.D.', 4.7498144, -73.963588],
        ['Bicicleteria don ger', 4.7488308, -74.0502977],
        ['Bicicletas Java Colombia', 4.7421982, -74.0726197],
    ];
                        
    // Contenido de la ventana de información
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>Taller De Bicicletas J.D.</h3>' +
        '<p>The Brooklyn Museum is an art museum located in the New York City borough of Brooklyn.</p>' + '</div>'],
        ['<div class="info_content">' +
        '<h3>Bicicleteria don ger</h3>' +
        '<p>The Brooklyn Public Library (BPL) is the public library system of the borough of Brooklyn, in New York City.</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<img src="/img/java.jpeg" class="img-map"/>'+
        '<h3>Bicicletas Java Colombia</h3>' +
        '<p>Cl. 161 #54-25, Bogotá</p>' +
        '<a href="/workshop" class="btn-services">Ver servicios<a/>'+
        '</div>']
    ];
        
    // Agregar múltiples marcadores al mapa
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Coloca cada marcador en el mapa
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Agregar ventana de información al marcador
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Centrar el mapa para que se ajuste a todos los marcadores en la pantalla
        map.fitBounds(bounds);
    }

    // Establecer el nivel de zoom
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(12);
        google.maps.event.removeListener(boundsListener);
    });
    
}
// Cargar función de inicialización//
google.maps.event.addDomListener(window, 'load', initMap);
</script>
<!--API de Google-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATtoah_y7VmreBmXIIocP0sEmqKi1Jk7Q&callback=initMap"></script>