<div id="mapCanvas"></div>

<script>
function initMap() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
   // Mostrar un mapa
    map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
    map.setTilt(50);
        
    // Múltiples marcadores de ubicación, latitud y longitud
    var markers = [
        ['Taller De Bicicletas J.D.', 4.7317581, -74.0801883],
        ['Bicicleteria TECNIBICI 2.0', 4.7397077, -74.0727532],
        ['Bicicletas Java Colombia', 4.7421982, -74.0726197],
        ['Ciclo SportsOne', 4.7317581, -74.0801883],
        ['Bicicleteria Repuestos Bici taller John P', 4.7657533, -74.0871513],
        ['Bicicletería Mazuren', 4.7318432, -74.0801883],
        ['Bicicletas Rafael Sierra Niño', 4.7518112, -74.0588272],
        ['Bicicletas Rafael Sierra Niño', 4.6788614, -74.1765493]
    ];
                        
    // Contenido de la ventana de información
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>Taller De Bicicletas J.D.</h3>' +
        '<p>Cl. 168 #45-08, Bogotá</p>' + '</div>'],
        ['<div class="info_content">' +
        '<h3>Bicicleteria TECNIBICI 2.0</h3>' +
        '<p>Cl. 161, Bogotá</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Bicicletas Java Colombia</h3>' +
        '<p>Cl. 161 #54-25, Bogotá</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Bicicleteria Repuestos Bici taller John P</h3>' +
        '<p>Cl. 185 #56 68, Bogotá</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Upbiker Bogotá</h3>' +
        '<p>Cl. 127b Bis # 49-38, Bogotá</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Bicicletas Rafael Sierra Niño</h3>' +
        '<p>Cl. 182b # 10a21, Bogotá</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Ciclodelico</h3>' +
        '<p>Cra. 103a # 22f-44, Bogotá</p>' +
        '</div>']
    ];
        
    // Agregar múltiples marcadores al mapa
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Coloca cada marcador en el mapa
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Agregar ventana de información al marcador
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Centrar el mapa para que se ajuste a todos los marcadores en la pantalla
        map.fitBounds(bounds);
    }

    // Establecer el nivel de zoom
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(12);
        google.maps.event.removeListener(boundsListener);
    });
    
}
// Cargar función de inicialización//
google.maps.event.addDomListener(window, 'load', initMap);
</script>
<!--API de Google-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATtoah_y7VmreBmXIIocP0sEmqKi1Jk7Q&callback=initMap"></script>