<main class="index">
    <header class="masthead d-flex">

        <div class="container text-center my-auto">
            <h1 class="mb-1">Encuentra tu taller favorito</h1>
            <h3 class="mb-5">
                <em>Busca o registra tu taller</em>
            </h3>
            <a href="/login" class="btn btn-primary">Empecemos</a>
        </div>

    </header>


</main>