<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center title-header">
                <div class="card-body">
                    <h3>Hola, {{user.username}}</h3>
                    <!--<a href="/workshop" class="btn btn-primary m-4">
                        Ver lista de Talleres    
                    </a>-->
                
              <!----->
            </div>
        </div>

    </div>
    
</div>
</div>
<div class="container">
<div class="row">
                <div class="col-sm-6 mb-4">
                  <div class="card">
                    <div class="card-body">
                     <h5 class="card-title">Datos de usuario</h5>
                      <p class="card-text">Nombre: {{user.fullname}}</p>
                      <p class="card-text">Nombre de usuario: {{user.username}}</p>
                      <p class="card-text">Email: {{user.username}}</p>
                      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                  </div>
                </div>
                <!---->
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                
              </div>

</div>
                