{{#if user}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"> <img src="/img/bicicleta.png" alt="" class="logo"> BikeTools</a>
    {{#if user}}
    <li class="nav-item help">
      <a href="/help" class="nav-link">Ayuda<i class="fa-regular fa-circle-question"></i></a>
    </li>
    
     <li class="nav-item logout-user" id="boton-logout">
          
          <a href="/logout" class="nav-link">Salir<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>
        {{/if}}
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item">
          <i class="fa-solid fa-list"></i><a class="nav-link" aria-current="page" href="/workshoplist">Talleres</a>
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-screwdriver-wrench"></i><a class="nav-link" aria-current="page" href="/workshop">Mi Taller</a>
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-plus"></i><a class="nav-link" href="/workshop/add">Agregar un Taller</a>
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-magnifying-glass"></i><a class="nav-link" aria-current="page" href="/search">Buscar</a>
        </li>
        <li class="nav-item logout-user">
          
          <a href="/profile" class="nav-link"><i class="fa-solid fa-user"></i>{{user.username}}</a>
        </li>
        <li class="nav-item logout">
          <a href="/logout" class="nav-link text text-white"><i class="fa-solid fa-arrow-right-from-bracket"></i>Salir</a>
        </li>
        {{else}}
        <div class="botons-login">
        <li class="nav-item link-boton">
          <a href="/login" class="nav-link btn btn-light">Ingresar</a>
        </li>
        <li class="nav-item link-boton">
          <a href="/signup" class="nav-link btn btn-outline-light">Registrar</a>
        </li>
        </div>
      {{/if}}
      </ul>
    </div>
  </div>
</nav>
 {{/if}}
<!---menu app--->
{{#if user}}
<nav class="nav" id="menu-app">
        <a href="/workshoplist" class="nav__link nav__link--active">
            <i class="fa-solid fa-list"></i>
            <span class="nav__text">Talleres</span>
        </a>
         <a href="/workshop" class="nav__link nav__link--active">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <span class="nav__text">Mi Taller</span>
        </a>
        <a href="/workshop/add" class="nav__link nav__link--active">
           <i class="fa-solid fa-plus"></i>
            <span class="nav__text">Agregar Taller</span>
        </a>
        <a href="/search" class="nav__link nav__link--active" id="active_home">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="nav__text">Buscar</span>
        </a>
        <a href="/profile" class="nav__link nav__link--active">
            <i class="fa-solid fa-user"></i>
            <span class="nav__text">{{user.username}}</span>
        </a>
    </nav>
     {{/if}}