<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">BikeTools</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/workshop">Talleres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshop/add">Agregar un Taller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/search">Buscar</a>
        </li>
        <li class="nav-item logout-user">
          
          <a href="/profile" class="nav-link"><i class="fa-solid fa-user"></i>{{user.username}}</a>
        </li>
        <li class="nav-item logout">
          <a href="/logout" class="nav-link btn btn-danger text text-white">Cerrar sesión</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/login" class="nav-link link-boton">Ingresar</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link link-boton">Registrar</a>
        </li>
        {{/if}}
        
       
      </ul>
    </div>
  </div>
</nav>