<div class="col-md-4 mx-auto p-4 ">
        <div class="card card-body text-center title-header">
            <h3 class="text text-center">¿Necesitas ayuda?</h3>
        </div>
     </div>
<div class="container p-4">
    <div class="row">
        
    <div class="container-help-btn">

    <a href="https://wa.me/573212785310" class="btn btn-success btn-help">
        <i class="fa-brands fa-whatsapp"></i>Whatsapp
    </a>
    <a href="tel:3212785310" class="btn btn-primary btn-help-2">
        <i class="fa-solid fa-mobile-screen"></i>Llamar
    </a>
</div>
 <!--<div class="container-help-btn">

    <a href="" class="btn btn-success btn-help-3">
        <i class="fa-solid fa-book"></i>Manual de Usuario
    </a>
    <a href="" class="btn btn-primary btn-help-4">
        <i class="fa-solid fa-mobile-screen"></i>Llamar
    </a>
    
    
</div>-->
</div>
                
               
